@{
	ViewData["Title"] = "Collaboration";
}

<div class="full-container">
	<div class="container-fluid bg-white">
		<div class="container mt-4">
			<h2 class="text-center font-poppins">Life at Endorsin</h2>
			<div class="container">
				<div class="row">
					<div class="col">
						<p class="font-montserrat">Kami membuka peluang sangat lebar untuk Anda yang tertarik mengembagkan karier dengan bergabung kedalam Endorsin. Dengan bantuan Anda, mari jadikan Endorsin sebagai digital marketing terbaik untuk bisnis UMKM di Indonesia. </p>
						<div class="row">
							<div class="col col-sm-1">
								<img class="img-fluid" src="/assets/icons/mail.png"/>
							</div>
							<div class="col">
								<p>endorsin@hrd.co.id</p>
							</div>
						</div>
					</div>
					<div class="col">
						<img class="img-fluid" src="/assets/vecteezy_brainstorming-process-concept-with-team-meeting_.jpg"/>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
