@{
	ViewData["Title"] = "Index";
}

<div class="full-container">
	
<div class="full-container" style="background-color:#E5B323;">
	<div class="container mx-auto p-5">
		<div id="home" class="row align-items-center">
		<div class="col">
			<p class="font-poppins fs-1 text-white">PROMOTE YOUR MSME WITH US</p>
			<p class="font-montserrat fs-3 text-black">Find thousands of influencers to promote your products easily and instantly</p>
			<a href="https://endorsin-client.000webhostapp.com/register" class="btn btn-primary">Register Now</a>
		</div>
		<div class="col">
			<img class="img-fluid" src="./assets/home-illustration.png" />
		</div>
	</div>
	</div>
	
</div>

<div class="full-container my-5">
	<h2 class="font-poppins text-center my-3">3 Easy Steps To Promote Your MSME</h2>
	<div class="container">
		<div id="box-steps" class="row">
		<div class="col p-2">
			<div class="bg-white shadow p-4">
				<img src="./assets/buat-campaign.png"/>
				<p class="font-raleway-bold fs-4 mt-3 text-black">Create a Campaign</p>
				<p class="font-raleway">Start creating a new campaign to explain your SME business and adjust the promotion budget according to your wishes.</p>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<img src="./assets/pilih-influencer.png"/>
			<p class="font-raleway-bold fs-4 mt-4 text-black">Choose Influencers</p>
			<p class="font-raleway">Choose influencers based on our best recommendations. Communicate directly your MSME business brief.</p>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<img src="./assets/pantau-hasil.png"/>
			<p class="font-raleway-bold fs-4 mt-3 text-black">Monitor Results</p>
			<p class="font-raleway">See how influencers are promoting your business and see the awareness performance you can get through the dashboard.</p>
			</div>
		</div>
	</div>
	</div>
	
</div>

<div class="full-container bg-white p-4">
	<h2 class="font-poppins text-center my-3">Reasons Why You Should Choose Us</h2>
	<div id="choose-us" class="row p-5 align-items-center">
		<div class="col">
			<p class="font-montserrat">We provide a variety of interesting features and conveniences for you to develop your MSME business to a higher level.</p>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Set the budget and promotion time according to your wishes</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">We provide recommendations for the best influencers that match your preferences</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Monitor the success of your promotions in real time</p>
				</div>
			</div>
			<div class="row">
				<div class="col-sm-1">
					<img class="img-fluid" src="./assets/badge-check.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat">Communicate directly the work you need with influencers.</p>
				</div>
			</div>
		</div>
		<div class="col">
			<img class="img-fluid" src="./assets/reason-choose-us.jpg"/>
		</div>
	</div>
</div>

<div class="full-container py-5">
	<h2 class="font-poppins text-center my-3">What do they think?</h2>
	<div class="container">
		<div id="box-testimonial" class="row">
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ Endorsin managed to meet me with the right influencers. I managed to increase the popularity of the MSME business as well as turnover by up to 20%. Thank you Endorsin. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-1.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Dian Sastrowardoyo</p>
					<p class="font-montserrat">Katsu Chicken shop owner</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ It is a pleasure to work with ENDORSIN, the service provided by ENDORSIN provides excellent service which makes us not encounter any significant difficulties in conducting promotions. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-2.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Prilly Latuconsina</p>
					<p class="font-montserrat">Warteg Tegal Asli Owner</p>
				</div>
			</div>
			</div>
		</div>
		<div class="col p-2">
			<div class="bg-white shadow p-4">
			<p class="font-montserrat-italic text-center mb-2">“ Overall satisfy with Endorsin's performance that can connect my business with influencers. Plan and Monthly reports are detailed and insightful. Quick and fast in the execution of the given project. “</p>
			<div class="row p-2 mx-auto mt-4">
				<div class="col-4">
					<img class="img-fluid" src="./assets/testimonial-3.png"/>
				</div>
				<div class="col">
					<p class="font-montserrat-bold mb-1">Nadeo Argawinata</p>
					<p class="font-montserrat">Anugerah Clothing Store Owner</p>
				</div>
			</div>
			</div>
		</div>
	</div>
	</div>
	
</div>


</div>
