@{
	ViewData["Title"] = "Profile";
}

<div class="full-container">
	<div class="container-md p-4 text-center">
		<h2 class="font-poppins">About Endorphin</h2>
		<p class="font-raleway fs-5 px-3">Endorsin is a digital influencer marketing platform based in Surabaya, Indonesia. We have a mission to increase the level of MSMEs in Indonesia through a digital promotion platform that works with influencers.</p>
	</div>

	<div class="container-fluid bg-white p-4">
		<div class="container">
			<h2 class="font-poppins text-center">Contact us</h2>
			<br/>
			<div class="container">
				<div id="box-profile" class="row align-items-center">
					<div class="col-md font-montserrat fs-6">
						<p>We love to interact with anyone. Please contact us if you have something to say, offer cooperation, or would like to be a part of Endorsin.</p>
						<br/>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/home.png"/>
							<p>Kampus ITS, Keputih, Kec. Sukolilo, Kota SBY, Jawa Timur</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/mail.png"/>
							<p>endorsin@contact.co.id</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/phone.png"/>
							<p>+62 895 3284 94336</p>
						</div>
						<div class="d-block mb-4">
							<img class="float-start px-4" src="/assets/icons/instagram.png"/>
							<p>endorsin_indonesia</p>
						</div>
					</div>
					<div class="col-md-7">
						<img class="img-fluid" src="/assets/contact.png"/>
					</div>
				</div>
			</div>
		</div>
		<br />
	</div>
	<br />
	<div class="container mt-4">
		<h2 class="font-poppins text-center">CEO & Founder Endorsin</h2>
		<div class="container mt-2">
			<div class="row align-items-center justify-content-center">
				<div class="col-md-4 my-4">
					<img class="img-fluid img-thumbnail border-light border-5 shadow" src="/assets/profil-ceo.jpg"/>
				</div>
				<div class="col-md-5">
					<h3 class="font-poppins">MOHAMAD KHOLID BUGHOWI</h3>
					<p class="font-raleway fs-5">An Infromatics Student from ITS</p>
					<p class="font-raleway fs-5">An organized and self motivated human with the vision to collaborate the ideas with touch of detail and creativity. Possess the boldness to make decisions and to deal with the challenges to reach his goals and objectives.</p>
					<img src="/assets/ttd-ceo.png"/>
					<div class="mt-5">
						<a href="https://web.facebook.com/muhammad.bugowy/" target="_blank" class="mx-3 text-decoration-none">
							<img class="img-fluid" src="/assets/icons/ceo-facebook.png"/>
						</a>
						<a href="https://www.instagram.com/muhammad_bughowy/" target="_blank" class="mx-3 text-decoration-none">
							<img class="img-fluid" src="/assets/icons/ceo-instagram.png"/>
						</a>
						<a href="https://www.linkedin.com/in/bughowi/" target="_blank" class="mx-3 text-decoration-none">
							<img class="img-fluid" src="/assets/icons/ceo-linkedin.png"/>
						</a>
						<a href="https://twitter.com/bughowy" target="_blank" class="mx-3 text-decoration-none">
							<img class="img-fluid" src="/assets/icons/ceo-twitter.png"/>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
	<br />
	<br />
</div>

