@{
	ViewData["Title"] = "Service";
}

<div class="container-fluid">
	<div class="container p-4">
		<h2 class="font-poppins text-center mb-4">What we offer</h2>
		<p class="font-raleway text-center fs-5 px-5">Endorsin as a digital promotion platform, offers convenience for you MSME players throughout Indonesia to introduce your business to the public. In addition, Endorsin also facilitates influencers to obtain goods/services for them to endorse. We provide security guarantees to influencers and MSMEs during promotional activities.</p>
	</div>

	<div class="container mb-4">
		<h2 class="font-poppins text-center mb-4">For SMEs</h2>
		<div class="container">
			<div class="row justify-content-md-center mb-3">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-minute-96.png"/>
						<p class="font-raleway-bold text-center">Save Your Time</p>
						<p class="font-raleway text-center">Save your precious time searching for influencers. We provide recommendations for the best influencers that match you</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-stack-of-money-96.png"/>
						<p class="font-raleway-bold text-center">Transparent Price</p>
						<p class="font-raleway text-center">The fees you pay are according to what you planned and are listed on your dashboard</p>
					</div>
				</div>
			</div>

			<div class="row justify-content-md-center">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-tax-96.png"/>
						<p class="font-raleway-bold text-center">Money Back Guarantee</p>
						<p class="font-raleway text-center">We make sure your money will be returned if the influencer does not carry out the agreed endorsement task</p>
					</div>
				</div>
				<div class="col-sm-4"><div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-lock-96.png"/>
						<p class="font-raleway-bold text-center">Safe & Convenient</p>
						<p class="font-raleway text-center">We provide a sense of security and comfort as long as you join and grow your business with Endorsin</p>
					</div></div>
			</div>
		</div>
	</div>

	<br/>

	<div class="container">
		<h2 class="font-poppins text-center my-4">For Influencers</h2>
		<div class="container">
			<div id="box-umkm-1" class="row justify-content-md-center mb-3">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-tv-program-96.png"/>
						<p class="font-raleway-bold text-center">Add Channel</p>
						<p class="font-raleway text-center">Add a variety of social media channels that you have and provide the best price offer for each channel.</p>
					</div>
				</div>
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-new-job-96.png"/>
						<p class="font-raleway-bold text-center">Accept Job</p>
						<p class="font-raleway text-center">Receive and work directly on the endorsement task from MSMEs. Discuss directly the endorsement description with MSME owners.</p>
					</div>
				</div>
			</div>

			<div id="box-umkm-2" class="row justify-content-md-center">
				<div class="col-sm-4">
					<div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-man-holding-bags-with-money-96.png"/>
						<p class="font-raleway-bold text-center">Earn Money</p>
						<p class="font-raleway text-center">Send results and receive payments that go directly to your account balance from every endorsement that has been approved by the MSME owner.</p>
					</div>
				</div>
				<div class="col-sm-4"><div class="bg-white shadow p-4">
						<img class="img-fluid mx-auto d-block mb-4" src="/assets/icons/icons8-lock-96.png"/>
						<p class="font-raleway-bold text-center">Safe & Convenient</p>
						<p class="font-raleway text-center">We provide a sense of security and comfort as long as you join and develop your social media platform with Endorsin.</p>
					</div></div>
			</div>
		</div>
	</div>
</div>
<br/>